@charset "UTF-8";
* {
  font-family: 微軟正黑體;
}

h1.title, h2.title {
  -webkit-text-stroke: 1px black;
}

body {
  height: 1000px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: bold;
}

nav.navbar {
  transition: 0.5s;
}

nav.navbar.navbar-default.navbar-fixed-top.navbar-top {
  background-color: transparent;
}
nav.navbar.navbar-default.navbar-fixed-top.navbar-top a {
  color: white;
  transition: 0.5s;
}
nav.navbar.navbar-default.navbar-fixed-top.navbar-top a:hover {
  color: #57a3fa;
}

header.jumbotron {
  text-align: center;
  background-image: url(https://i.imgur.com/gf7KRcE.jpeg);
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 0px;
}
header.jumbotron .container {
  color: white;
  padding: 200px 0px;
}
header.jumbotron hr {
  max-width: 50px;
  border: solid 2px #57a3fa;
}
header.jumbotron h4 {
  color: rgba(255, 255, 255, 0.5);
  font-weight: normal;
}

section {
  padding: 50px 0px;
}

section#section_ask {
  background-color: #57a3fa;
}
section#section_ask .col-sm-7.img {
  background-image: url(https://images5.alphacoders.com/863/thumb-1920-863158.jpg);
  height: 300px;
  background-size: cover;
}
section#section_ask h2 {
  margin-top: 140px;
  padding-left: auto;
  padding-right: auto;
}

section#section_about img {
  width: 98%;
}
section#section_about .img_wrap {
  height: 220px;
  overflow: hidden;
}

section#section_story {
  background-color: #57a3fa;
  color: white;
  padding: 0;
}
section#section_story .col-sm-5 {
  background-image: url(https://i.imgur.com/b5i3PcN.png);
  background-size: cover;
  height: 440px;
}
section#section_story .col-sm-7 {
  padding: 60px;
  margin-bottom: 10px;
  text-align: center;
}
section#section_story .col-sm-7 i {
  font-size: 50px;
}
section#section_story .col-sm-12.features {
  margin-top: 40px;
  margin-bottom: 40px;
}

section#section_future img {
  width: 100%;
}
section#section_future i {
  font-size: 40px;
}
section#section_future .features {
  padding-top: 20px;
  padding-bottom: 20px;
}

footer.jumbotron {
  text-align: center;
  background-image: url(https://i.imgur.com/gf7KRcE.jpeg);
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 0px;
}
footer.jumbotron input {
  background-color: transparent;
  max-width: 350px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
footer.jumbotron .container {
  color: white;
  padding: 60px 0px;
}
footer.jumbotron hr {
  max-width: 50px;
  border: solid 2px #57a3fa;
}